[matrix]
brightness=50
framerate=30
rotation=0

[matrixada]
chainLength=1
gpioSlowdown=4
parallel=1
showRefreshRate=true

[matrixuni]
bitsPerWord=8
device=/dev/spidev0.0
mode=0
speed=9000

[theme]
xml=themes/16x16/theme.xml
