[Unit]
Description=Leddy
#After=network-online.target

[Service]
ExecStart=/home/pi/programming/leddy/Leddy
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
